<ng-container>
  <div class="modal-background">
    <div class="modal-content">
      <div class="header"></div>
      <!-- <div class="main-content-box"> -->
      <div class="os-content">
        <section class="accordion">
          <div class="tab">
            <span class="head-tab">
              <i
                (click)="accordion(0)"
                class="fas"
                [ngClass]="{
                  'fa-caret-right': !isContentExpanded[0],
                  'fa-caret-down': isContentExpanded[0]
                }"
              ></i>
              <label for="cb1" class="tab__label">
                <input type="radio" name="accordion-1" id="cb1" />
                <span class="head">
                  <span> Calculus 1 </span>
                  <div class="light-bar progress-green">
                    <span data-progress="75"></span>
                  </div>
                </span>
              </label>
            </span>
            <div
              class="tab__content"
              [style.maxHeight]="isContentExpanded[0] ? '10rem' : '0'"
            >
              <ul>
                <li>
                  <span>Question 1</span>
                  <span>
                    <div
                      class="marks-container pass"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        3
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 2</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        1
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 3</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        2
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <span class="head-tab">
              <i
                (click)="accordion(1)"
                class="fas"
                [ngClass]="{
                  'fa-caret-right': !isContentExpanded[1],
                  'fa-caret-down': isContentExpanded[1]
                }"
              ></i>
              <label for="cb1" class="tab__label">
                <input type="radio" name="accordion-1" id="cb1" />
                <span class="head">
                  <span> Calculus 2 </span>
                  <div class="light-bar progress-green">
                    <span data-progress="75"></span>
                  </div>
                </span>
              </label>
            </span>
            <div
              class="tab__content"
              [style.maxHeight]="isContentExpanded[1] ? '10rem' : '0'"
            >
              <ul>
                <li>
                  <span>Question 1</span>
                  <span>
                    <div
                      class="marks-container pass"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        3
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 2</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        1
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 3</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        2
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <span class="head-tab">
              <i
                (click)="accordion(2)"
                class="fas"
                [ngClass]="{
                  'fa-caret-right': !isContentExpanded[2],
                  'fa-caret-down': isContentExpanded[2]
                }"
              ></i>
              <label for="cb1" class="tab__label">
                <input type="radio" name="accordion-1" id="cb1" />
                <span class="head">
                  <span> Calculus 3 </span>
                  <div class="light-bar progress-green">
                    <span data-progress="75"></span>
                  </div>
                </span>
              </label>
            </span>
            <div
              class="tab__content"
              [style.maxHeight]="isContentExpanded[2] ? '10rem' : '0'"
            >
              <ul>
                <li>
                  <span>Question 1</span>
                  <span>
                    <div
                      class="marks-container pass"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        3
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 2</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        1
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 3</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        2
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <span class="head-tab">
              <i
                (click)="accordion(3)"
                class="fas"
                [ngClass]="{
                  'fa-caret-right': !isContentExpanded[3],
                  'fa-caret-down': isContentExpanded[3]
                }"
              ></i>
              <label for="cb1" class="tab__label">
                <input type="radio" name="accordion-1" id="cb1" />
                <span class="head">
                  <span> Calculus 4 </span>
                  <div class="light-bar progress-green">
                    <span data-progress="75"></span>
                  </div>
                </span>
              </label>
            </span>
            <div
              class="tab__content"
              [style.maxHeight]="isContentExpanded[3] ? '10rem' : '0'"
            >
              <ul>
                <li>
                  <span>Question 1</span>
                  <span>
                    <div
                      class="marks-container pass"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        3
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 2</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        1
                      </div>
                    </div>
                  </span>
                </li>
                <li>
                  <span>Question 3</span>
                  <span>
                    <div
                      class="marks-container fail"
                      data-test="marks-container"
                    >
                      <div data-test="total-marks-value" class="os-marks-value">
                        2
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!-- </div> -->
      <div class="footer"></div>
    </div>
  </div>
</ng-container>
