:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  /* Theme color */
  --theme: var(--primary);
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    display: grid;
    grid-template-rows: 45px 1fr 45px;
    background-color: #fff;
    width: 415px;
    height: 450px;
    border: 1px solid #838383;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(129, 126, 126, 0.25);
    &::-webkit-scrollbar {
      display: none;
    }
    .header {
      font-size: 18px;
      font-weight: 550;
      padding: 20px;
      background-color: #eeeeee;
      border-bottom: 1px solid #838383;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    .os-content {
      overflow-x: hidden;
      color: #33363b;
      text-align: center;
      font-size: 17px;
      font-style: normal;
      font-weight: 550;
      line-height: 135.687%;
      padding: 20px;
      place-items: start;
      gap: 1rem;
      margin: 0;
      padding: 1rem;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #ccc;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
        cursor: pointer;
      }
      .accordion {
        margin-top: 2rem;
        overflow: hidden;
        .tab {
          margin-bottom: 2rem;
          // padding-top: 10px;
          .head-tab {
            display: flex;
            align-items: center;
            gap: 4px;
            width: 100%;
            height: 30px;
            i {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: #888;
              font-size: 1.5rem;
              cursor: pointer;
              width: 6%;
            }
            .tab__label {
              width: 94%;
              display: flex;
              color: black;

              cursor: pointer;
              justify-content: flex-start;
              align-items: center;
              gap: 8px;

              input[type="radio"] {
                width: 20px;
                height: 20px;
                --s: 1em;
                // --c: hwb(174 0% 41%);
                --c: #960087;
                aspect-ratio: 1;
                border: calc(var(--s) / 8) solid #939393;
                padding: calc(var(--s) / 8);
                background: radial-gradient(farthest-side, var(--c) 94%, #0000)
                  50%/0 0 no-repeat content-box;
                border-radius: 50%;
                outline-offset: calc(var(--s) / 10);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
                font-size: inherit;
                transition: 0.3s;
                &:checked {
                  border-color: var(--c);
                  background-size: 100% 100%;
                }
              }
              .head {
                width: 85%;
                border-bottom: 1px solid blue;
                display: flex;
                align-items: center;
                span {
                  width: 75%;
                  display: flex;
                  align-items: center;
                }
                .light-bar {
                  background-color: #f1f1f1;
                  width: 69.24px;
                  height: 9.66px;
                  border-radius: 16px;
                  margin: 1px;
                  overflow: hidden;
                  position: relative;
                  // margin-left: 9rem;
                  span {
                    height: 100%;
                    display: block;
                    border-radius: 16px;
                    // color: rgb(255, 251, 251);
                    line-height: 30px;
                    position: absolute;
                    left: 0;
                    padding-right: 5px;
                  }
                  &.progress-green {
                    span {
                      background: #3ee162;
                      width: 70%;
                    }
                  }
                }
              }
            }
          }
          .tab__content {
            // margin-top: 1rem;
            overflow: hidden;
            transition: all 0.35s;
            p {
              margin: 0;
              padding: 1rem;
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 8px;
              li {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                span {
                  .marks-container {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;

                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .os-marks-value {
                      color: black;
                      font-size: 13px;
                      font-weight: 600;
                    }
                    &.pass {
                      border: 4px solid rgba(62, 225, 98, 1);
                    }
                    &.fail {
                      border: 4px solid rgb(209, 28, 28);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      font-size: 18px;
      font-weight: 550;
      padding: 20px;
      background-color: #eeeeee;
      border-top: 1px solid #838383;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
