<!-- <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  <span class="highlighted-text">Sed do eiusmod tempor incididunt</span> ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p> -->

<!-- <p appHighlight>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p> -->
<p
  appHighlight
  [@highlightAnimation]="highlightedState"
  (mouseup)="toggleHighlight()"
>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
